@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
}

.bg-light-pink {
  background-color: #fff5f7;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}